.border {
    border: 2px solid rgb(0, 0, 0);
    margin: 2px;
}

.flex {
    display: flex;
}

.justify-content {
    justify-content: center;
}

.items-centre {
    align-items: center;
}

.bg-black {
    background-color: black;
    color: white;


}

.invert {
    filter: invert(1);

}

.bg-grey {
    background-color: #121212;
}

.rounded {
    border-radius: 7px;
}
.m-1{
    padding: 5px;
}
.p-1{
    padding: 10 px;
}
/* Define scrollbar styles */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #333; /* Track color */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #666; /* Handle color */
    border-radius: 5px; /* Rounded corners */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888; /* Handle color on hover */
  }
  
  /* Define dark theme for the page */
  body {
    background-color: #111; /* Dark background color */
    color: #fff; /* Light text color */
  }
  